<a href="https://colab.research.google.com/github/kiranmahesh4033/DATA-ANALYSIS/blob/main/scrapping_beautifulsoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
#to save the URL
a='https://www.forbesindia.com/article/explainers/top-10-richest-people-india/85909/1'
page=requests.get(a)
hcode=BeautifulSoup(page.text,'html')
print(hcode)

In [ ]:
t=hcode.find('title')
print(t)

<title>Top 10 Richest People In India In 2024 | Who Is The Richest Man And Woman In India - Forbes India</title>

In [ ]:
print(t.text)

Top 10 Richest People In India In 2024 | Who Is The Richest Man And Woman In India - Forbes India

In [ ]:
table=hcode.find('table')
print(table)

In [ ]:
t=hcode.find_all('th')
print(t)

[<th style="border: 1px solid black; padding: 8px;"><strong>Name &amp; India Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Global Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Net worth (US$)</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Company</strong></th>]

In [ ]:
head=[]
for i in t:
  head.append(i.text)
print(head)

['Name & India Rank', 'Global Rank', 'Net worth (US$)', 'Company']

In [ ]:
#list comprehension
#LISTNAME=[o/p & for loop]
head=[i.text for i in t]
print(head)

['Name & India Rank', 'Global Rank', 'Net worth (US$)', 'Company']

In [ ]:
#creating data frame
import pandas as pd
df=pd.DataFrame(columns=head)
print(df)

Empty DataFrame
Columns: [Name & India Rank, Global Rank, Net worth (US$), Company]
Index: []

In [ ]:
#finding tr
tr=hcode.find_all('tr')
print(tr)

In [ ]:
index=0
for i in tr[1:6]:
  erd=i.find_all('td')
  dr=[j.text for j in erd]
  df.loc[index]=dr
  index=index+1
print(df)

             Name & India Rank Global Rank Net worth (US$)  \
0            #1 Mukesh Ambani           11        $113.0 B
1             #2 Gautam Adani           16         $81.2 B
2               #3 Shiv Nadar           37         $37.1 B
3  #4 Savitri Jindal & family           58         $28.9 B
4         #5 Cyrus Poonawalla           68         $25.6 B

                    Company
0       Reliance Industries
1               Adani Group
2       HCL Technologies
3                 JSW Group
4  Serum Institute of India

In [ ]:
df

,Name & India Rank,Global Rank,Net worth (US$),Company
0,#1 Mukesh Ambani,11,$113.0 B,Reliance Industries
1,#2 Gautam Adani,16,$81.2 B,Adani Group
2,#3 Shiv Nadar,37,$37.1 B,HCL Technologies
3,#4 Savitri Jindal & family,58,$28.9 B,JSW Group
4,#5 Cyrus Poonawalla,68,$25.6 B,Serum Institute of India

In [ ]:
#saving in the csv file
df.to_csv('richpeople.csv')